{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to my Flask app!</h1>
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="Log in">
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}
